<section>
  <h1>Persist Form</h1>
  <form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Story</legend>
      <p>
        <label for="title">
          <span>Title: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <input type="text" id="title" name="title" formControlName="title" required>
        <span *ngIf="title.touched && title.errors?.required">Field is required</span>
      </p>
      <p>
        <label for="story">
          <span>Story: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <textarea id="story" name="story" formControlName="story" required></textarea>
        <span *ngIf="story.touched && story.errors?.required">Field is required</span>
      </p>
      <p>
        <label for="draft">
          <span>Draft: </span>
        </label>
        <input type="checkbox" id="draft" name="draft" formControlName="draft"/>
      </p>
      <p formArrayName="category">
        <label>
          <span>Category: </span>
        </label>
        <label *ngFor="let control of category.controls; let i = index">
          <ng-container [formGroupName]="i">
            <input type="checkbox" formControlName="isChecked"> {{control.value.name}}
          </ng-container>
        </label>
        <span *ngIf="category.touched && category.errors?.required">Field is required</span>
      </p>
    </fieldset>

    <p> <button type="submit">Save the story</button> </p>
    <p> <button type="button" (click)="onResetClick()">Reset</button> </p>
  </form>
  <p>Form status</p>
  <pre><code>
    Valid: {{storyForm.valid}}
    Value: {{storyForm.value|json}}
  </code></pre>
</section>
